.region.bracket-matcher {
  border-bottom : 1px dotted @blue;
}

.comment,
.source.yaml {
  color : @comment-color;
}

.meta.brace.square {
  color : @dark-grey;
}

.import .module {
  color : @cyan;
}

.meta.function .support.class {
  color : @cyan;
}

.method-call .support.function {
  color : @blue;
}
