@import "syntax-variables";

.string.quoted.template .storage.type.function,
.storage.type.function {
  color: @cyan;
}

.string.quoted.template .storage.type.arrow,
.storage.type.arrow {
  color : @cyan;
}

.string.quoted.template .storage.modifier,
.storage.modifier {
  color: @cyan;
}

.jsdoc.storage {
  color: mix(@cyan, @syntax-comment-color, 35%);
}
