@import "syntax-variables";

.punctuation.definition.string {
  color : @orange;
}

.string.quoted {
  color : @orange;

  .constant.character.escape {
    color : @cyan;
  }
}

.string.quoted.template {
  color : @orange;

  .embedded {
    color : @light-grey;
  }

  .punctuation.embedded {
    color : @orange;
  }
}

.attribute-selector .punctuation.string.css,
.attribute-selector .punctuation.string.less,
.attribute-selector .punctuation.string.scss {
  color : @orange;
}

.constant {
  .string.unquoted.js-label {
    color : @light-grey;
  }
}
