.string.quoted.template .support.class.js,
.support.class.js {
  color : @blue;
}

.string.quoted.template .support.constant.js,
.support.constant.js {
  color : @blue;
}

.support.function.php,
.string.quoted.template .support.function.js,
.support.function.js {
  color : @cyan;
}
